<div class="service-page">
    {{> TextLabel classStyle="textLabel textLabel_service-page-title" labelText="500"}}
    {{> TextLabel classStyle="textLabel textLabel_service-page-subtitle" labelText="Мы уже фиксим"}}
    <div class="service-page__button-container">
        {{> Link linkText="Назад к чатам"}}
    </div>
</div>
