<dialog class="dialog dialog_small" open>
    <div class="dialog__container">
        {{> TextLabel labelText="Вход" classStyle="textLabel textLabel_subtitle"}}
        <form class="dialog__form">
            <div class="dialog__form-container">
                {{> TextLabel labelText="Логин" classStyle="textLabel textLabel_text textLabel_text-grey" inputId="login"}}
                {{> InputText inputType="text" name="login" id="login"}}
                {{> TextLabel labelText="Логин содержит спецсимволы" classStyle="textLabel textLabel_text textLabel_text-red"}}

                {{> TextLabel labelText="Пароль" classStyle="textLabel textLabel_text textLabel_text-grey" inputId="password"}}
                {{> InputText inputType="password" name="password" id="password"}}
                {{> TextLabel labelText="Это обязательное поле" classStyle="textLabel textLabel_text textLabel_text-red"}}
            </div>
            <div class="dialog__form-container">
                {{> Button buttonText='Авторизоваться'}}
                {{> Link linkText="Нет аккаунта?"}}
            </div>
        </form>
    </div>
</dialog>
