.button {
  width: 100%;
  border: none;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: white;
  background-color: rgb(51 105 243 / 100%);
  padding: 10px;
  margin: 12px 0;
  cursor: pointer;
}

.button.button_margin-null {
  margin: 20px 0 0;
}

.button.button_inactive {
  background-color: rgb(77 79 81);
}
