<div class="chatSet__container">
    <div class="chatSet__set-container">
        <div class="chatSet__message-container {{msgClass}}">
            <p class="chatSet__message">{{message}}</p>
            <div class="chatSet__message-props">
                <p class="chatSet__message-status">{{messageStatus}}</p>
                <p class="chatSet__message-time">{{messageTime}}</p>
            </div>
        </div>
    </div>
</div>
