.searchInput {
  width: 100%;
  box-sizing: border-box;
  border: none;
	border-radius: 6px;
	background-color: rgba(239, 239, 239, 1);
  font-size: 12px;
	color: rgba(153, 153, 153, 1);
  line-height: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  padding: 10px 5px;
  margin: 20px 0;
}