.user {
    display: flex;
    justify-content: center;
}

.user__back-container {
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    background-color: rgb(251 251 251 / 100%);
}

.user__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.user__button-container {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.user__button-container.user__button-container_center {
    margin: 50px 25% auto;
}

.user__avatar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
