<dialog class="dialog dialog_large" open>
    <div class="dialog__container">
        {{> TextLabel labelText="Регистрация" classStyle="textLabel textLabel_subtitle"}}
        <form class="dialog__form">
            <div class="dialog__form-container">
                {{> TextLabel labelText="Почта" classStyle="textLabel textLabel_text textLabel_text-grey"}}
                {{> InputText inputType="email"  name="email"}}

                {{> TextLabel labelText="Логин" classStyle="textLabel textLabel_text textLabel_text-grey"}}
                {{> InputText inputType="text"  name="login"}}
                {{> TextLabel labelText="Логин содержит спецсимволы" classStyle="textLabel textLabel_text textLabel_text-red"}}

                {{> TextLabel labelText="Имя" classStyle="textLabel textLabel_text textLabel_text-grey"}}
                {{> InputText inputType="text"  name="first_name"}}

                {{> TextLabel labelText="Фамилия" classStyle="textLabel textLabel_text textLabel_text-grey"}}
                {{> InputText inputType="text"  name="last_name"}}

                {{> TextLabel labelText="Телефон" classStyle="textLabel textLabel_text textLabel_text-grey"}}
                {{> InputText inputType="tel"  name="phone"}}

                {{> TextLabel labelText="Пароль" classStyle="textLabel textLabel_text textLabel_text-grey"}}
                {{> InputText inputType="password" name="password"}}

                {{> TextLabel labelText="Пароль еще раз" classStyle="textLabel textLabel_text textLabel_text-grey"}}
                {{> InputText inputType="password"}}
                {{> TextLabel labelText="Пароли не совпадают" classStyle="textLabel textLabel_text textLabel_text-red"}}
            </div>
            <div class="dialog__form-container">
                {{> Button buttonText='Зарегистрироваться'}}
                {{> Link linkText="Войти"}}
            </div>
        </form>
    </div>
</dialog>