.chatCard {
    width: 100%;
    display: flex;
    border: none;
    border-top: 1px solid rgb(234 234 234 / 100%);
    border-bottom: 1px solid rgb(234 234 234 / 100%);
    justify-content: space-between;
}

.chatCard.chatCard_selected {
    display: flex;
    background-color: rgb(228 237 253 / 100%);
}

.chatCard__image-container {
    display: flex;
    align-items: center;
    padding-left: 7px;
}

.chatCard__chat-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0 auto 0 10px;
    cursor: pointer;
}

.chatCard__msg-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 7px;
}

.chatCard__image {
    width: 47px;
    height: 47px;
    object-fit: cover;
    border-radius: 50%;
    background-color: rgb(239 239 239 / 100%);
}

.chatCard__chat-name {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    margin: 10px 0 5px;
}

.chatCard__last-chat {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}

.chatCard__last-chat.chatCard__last-chat_bold {
    font-weight: bold;
}

.chatCard__time {
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    text-align: right;
    color: rgb(153 153 153 / 100%);
}

.chatCard__count {
    font-weight: 500;
    font-size: 11px;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    color: white;
    background-color: rgb(51 105 243 / 100%);
}
