.msgInput {
    width: 100%;
    border: none;
    border-radius: 32px;
    padding: 10px 20px;
    margin: 0 7px;
    background-color: rgba(239, 239, 239, 1);
    font-size: 12px;
    line-height: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
}