.textLabel {
  margin: 5px 0;
  width: 100%;
  font-style: normal;
  color: black;
}

.textLabel.textLabel_title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.textLabel.textLabel_subtitle {
  line-height: 20px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.textLabel.textLabel_service-page-title {
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}

.textLabel.textLabel_service-page-subtitle {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.textLabel.textLabel_text {
  font-size: 9px;
  line-height: 9px;
}

.textLabel.textLabel_text.textLabel_text-grey {
  color: rgb(153 153 153 / 100%);
}

.textLabel.textLabel_text.textLabel_text-red {
  color: red;
}

.textLabel.textLabel_bordered {
  margin: 5px;
}

.textLabel.textLabel_center {
  text-align: center;
}
