@import url('./vendor/fonts.css');
@import url('./vendor/normalize.css');

html {
  font-family: 'Inter', sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
