<div class="user">
    <div class="user__back-container">
        {{> ArrowButton imgSrc=picSrc.left}}
    </div>
    <div class="user__container">
        <div class="user__avatar-container">
            {{> PictureButton picSrc=imgSrc picStyleClass="pictureButton__image_round pictureButton__image_size130" name="avatar"}}
        </div>
        {{> DataInput type="password" name="oldЗassword" labelText="Старый пароль" placeholder="Введите старый пароль"}}
        {{> DataInput type="password" name="newPassword" labelText="Новый пароль" placeholder="Введите новый пароль"}}
        {{> DataInput type="password" name="repeatPassword" labelText="Повторите новый пароль" placeholder="Новый пароль еще раз"}}
        <div class="user__button-container user__button-container_center">
            {{> Button buttonText="Сохранить"}}
        </div>     
    </div>
</div>
